#about-page {
  margin: 1rem auto;
  padding: 2rem;
  width: 90%;
  max-width: 900px;
  background: var(--very-light-background);
  border-radius: 5px;
}

#about-page-title {
  text-align: center;
  margin-bottom: 2rem;
}

#about-page-title h2 {
  font-weight: lighter;
  margin-top: 1rem;
}

#about-page section {
  margin-top: 2rem;
  line-height: 1.5rem;
}

#about-page section h3 {
  margin-bottom: 0.5rem;
}

#about-page ul {
  margin-left: 0;
  padding-left: 2rem;
}