#connect-page {
  height: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: min-content 2fr 3fr;
  padding: 1rem;
}

.person-list {
  overflow-y: scroll;
}

@media screen and (max-width: 1000px) {
  #connect-page {
    grid-template-columns: min-content 1fr;
  }

  #connect-page > .map-container {
    grid-column: 1/-1;
    height: 40vh;
  }
}

@media screen and (max-width: 500px) {
  #connect-page {
    grid-template-columns: 1fr;
  }
}