#landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: max-content;
}

#landing-page h1 {
  text-align: center;
  background: var(--main-blue);
  color: var(--light-text);
  padding: 1rem 2rem;
  border-radius: 10px;
  font-weight: lighter;
}