#landing-page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#landing-page-title {
  background: var(--dark-blue);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
}

#landing-page h1 {
  background: var(--main-blue);
  color: var(--light-text);
  padding: 1rem 2rem;
  border-radius: 10px;
  font-weight: lighter;
  margin-bottom: 2rem;
}

#landing-page input {
  font-size: 1.5rem;
  padding: 1.5rem 1rem;
}