#page-not-found {
  margin: 1rem auto;
  padding: 2rem;
  width: 90%;
  max-width: 900px;
  background: var(--white);
  border-radius: var(--small-border-radius);
}

#page-not-found h1 {
  margin-bottom: 1rem;
}