#signup-page {
  padding: 2rem;
  margin: 0 auto;
  max-width: fit-content;
}

#signup-page h2 {
  margin-bottom: 1rem;
}

#signup-page h1 {
  margin-bottom: 1rem;
}

#signup-page label span {
  color: var(--dark-blue);
}

.form-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

#signup-form {
  display: grid;
  grid-gap: 2rem;
  grid-auto-rows: auto;
}

.signup-form-section-fields {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 300px));
  grid-gap: 1rem;
}

.signup-form-section-fields input, .signup-form-section-fields select {
  width: 100%;
}

#submit-sign-up-form {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

#submit-sign-up-form button {
  min-width: 10rem;
}

@media screen and (max-width: 500px) {
  .signup-form-section-fields {
    grid-template-columns: 1fr;
  }
}