#signup-page {
  padding: 2rem;
  margin: 0 auto;
  max-width: fit-content;
}

#signup-page h1, #signup-page h2, #signup-page legend {
  margin-bottom: 1rem;
}

#signup-page label span {
  color: var(--dark-blue);
}

.form-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

#signup-form {
  display: grid;
  grid-gap: 2rem;
  grid-auto-rows: auto;
}

.signup-form-section-fields {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 300px));
  grid-gap: 1rem;
}

.signup-form-section-fields input, .signup-form-section-fields select {
  width: 100%;
}

#submit-sign-up-form {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

#submit-sign-up-form button {
  width: fit-content;
  white-space: nowrap;
}

#submit-sign-up-form button:first-child {
  margin-left: auto;
}

fieldset {
  border: none;
}

@media screen and (max-width: 500px) {
  .signup-form-section-fields {
    grid-template-columns: 1fr;
  }
}