#signup-page {
  margin: 0 auto;
  max-width: 1000px;
}

#signup-page h2 {
  margin: 2rem 0 1rem 0;
}

#signup-page h1 {
  margin-bottom: 2rem;
}

#signup-page .person-type {
  width: 10rem;
}

.signup-form {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 300px));
  grid-gap: 1rem;
}

.signup-form input, select {
  width: 90%;
}

label {
  display: block;
}

#submit-sign-up-form {
  margin: 2rem 0;
}

@media screen and (max-width: 500px) {
  .signup-form {
    grid-template-columns: 1fr;
  }

  .signup-form input {
    max-width: 300px;
  }
}