.filters {
  display: grid;
  grid-gap: 1rem;
  grid-auto-rows: min-content;
  background: var(--white);
  padding: 1rem;
  border-radius: var(--small-border-radius);
  overflow: scroll;
}

.filters h2, .filters p {
  padding-bottom: 0.7rem;
  border-bottom: 1px solid var(--dark-bg);
}

.filters label {
  font-weight: bold;
}

.filters input, .filters select {
  width: 100%;
}

.filters button:not(.active) {
  background: var(--less-light-bg);
  color: var(--dark-text);
}

.max-distance {
  border-radius: var(--small-border-radius);
  overflow: hidden;
  white-space: nowrap;
}

.max-distance button {
  border-radius: 0;
}