.filters {
  display: grid;
  grid-gap: 1rem;
  grid-auto-rows: min-content;
  background: var(--less-light-background);
  padding: 1rem;
  border-radius: 5px;
  overflow: scroll;
}

.filters h2 {
  padding-bottom: 0.7rem;
  border-bottom: 1px solid var(--dark-background);
}

.filters input, .filters select {
  width: 100%;
}

.distance-buttons button {
  border-radius: 0;
  font-size: 1rem;
  background: var(--very-light-background);
  color: var(--dark-text);
}

.distance-buttons button.selected {
  background: var(--main-blue);
  color: var(--light-text);
}

.distance-buttons {
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
}