#login {
  display: flex;
  justify-content: flex-end;
}

#login-modal {
  position: absolute;
  background: var(--main-blue);
  border-radius: var(--small-border-radius);
  top: 4rem;
  z-index: 2;
  padding: 0.5rem;
}

#login-modal input {
  margin-bottom: 0.5rem;
  display: block;
  width: 100%;
}

#login-modal .person-type {
  display: inline-flex;
  margin-right: 0.5rem;
}

#login-modal .login-button {
  background: var(--dark-blue);
}

#login-modal button.active {
  background: var(--dark-blue);
}