#login {
  display: flex;
  justify-content: flex-end;
}

#login-panel {
  position: absolute;
  background: var(--main-blue);
  border-radius: 5px;
  top: 4rem;
  z-index: 2;
  padding: 0.5rem;
}

#login-panel input {
  margin-right: 0.5rem;
}

#login-panel button {
  background: var(--dark-blue);
}

.hidden {
  display: none;
}