#login {
  display: flex;
  justify-content: flex-end;
}

#login-panel {
  position: absolute;
  background: var(--main-blue);
  border-radius: 5px;
  top: 4rem;
  z-index: 2;
  padding: 0.5rem;
}

#login-panel input {
  margin-bottom: 0.5rem;
  display: block;
  width: 100%;
}

#login-panel .person-type {
  display: inline-flex;
  margin-right: 0.5rem;
}

#login-panel .login-button {
  background: var(--dark-blue);
}

#login-panel button.active {
  background: var(--dark-blue);
}

.hidden {
  display: none;
}