.marker {
  white-space: nowrap;
  background: var(--white);
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  border-radius: var(--small-border-radius);
  width: fit-content;
  transition: all 0.3s;
  border: 1px solid var(--dark-blue);
  transform: translate(-50%, -50%);
}

.marker:hover {
  transform: scale(1.15) translate(-45%, -45%);
}