.marker {
  white-space: nowrap;
  background: var(--very-light-background);
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  width: fit-content;
  opacity: 0.8;
  transition: all 0.3s;
  border: 1px solid var(--dark-blue);
  transform: translate(-50%, -50%);
}

.marker:hover {
  transform: scale(1.15) translate(-45%, -45%);
  opacity: 1;
}