.person-modal-backdrop {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-modal {
  background-color: var(--very-light-background);
  border-radius: 5px;
  width: 80%;
  height: 80%;
  min-height: min-content;
  margin: 0 auto;
  padding: 2rem;
}