.person-list-item {
  background: var(--very-light-background);
  padding: 1rem;
  border-radius: var(--small-border-radius);
  cursor: pointer;
}

.person-list-item span {
  color: var(--medium-text);
  font-weight: lighter;
}

.person-list-item h3 {
  color: var(--dark-blue);
}