.person-list {
  border-radius: 5px;
  overflow: scroll;
  display: grid;
  grid-gap: 0.7rem;
  grid-auto-rows: min-content;
}

.empty-list {
  border-radius: 5px;
  height: 100%;
  background: var(--very-light-background);
  display: flex;
  justify-content: center;
}

.empty-list h2 {
  margin-top: 15%;
}