.person-type {
  border-radius: 5px;
  overflow: hidden;
  display: flex;
}

.person-type button {
  border-radius: 0;
  flex: 1;
  background: var(--medium-background);
}


.person-type button.active {
  background: var(--main-blue);
}

