.person-modal-backdrop {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.person-modal {
  background-color: var(--very-light-background);
  border-radius: 5px;
  width: 70%;
  height: 70%;
  min-width: fit-content;
  overflow: scroll;
  margin: 1rem;
  display: flex;
}

.person-modal button {
  height: fit-content;
}

.person-modal .map-container {
  border-radius: 0;
}

.person-modal-content {
  font-size: 1.3rem;
  margin: 1.5rem 2rem;
  display: grid;
  grid-gap: 1rem;
  overflow: scroll;
  grid-auto-rows: min-content;
}

.person-modal span {
  color: var(--medium-text);
  font-weight: lighter;
}

@media screen and (max-width: 1000px) {
  .person-modal {
    flex-direction: column;
    width: 80%;
    height: 80%;
  }

  .person-modal-content {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}