.person-type {
  border-radius: var(--small-border-radius);
  overflow: hidden;
  display: flex;
}

.person-type button {
  border-radius: 0;
  flex: 1;
  background: var(--very-light-background);
  color: var(--dark-text);
}

.person-type button.active {
  background: var(--main-blue);
  color: var(--light-text);
}