#signup-form {
  padding: 2rem;
  margin: 0 auto;
  max-width: fit-content;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 300px));
  grid-gap: 1rem;
}

#signup-form input {
  width: 100%;
}

#signup-form label {
  margin: 0.3rem;
  display: inline-block;
}

#signup-form h1, #signup-form h2, #signup-form .form-end {
  text-align: center;
  grid-column: 1/-1;
  margin-top: 1rem;
}

#signup-form button {
  width: fit-content;
}

#signup-form button[type="submit"] {
  margin-left: auto;
}