#app {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

header {
  z-index: 5;
  background: var(--main-blue);
  overflow: scroll;
}

nav {
  margin: 0 auto;
  width: fit-content;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
}

nav .logo-container {
  position: relative;
  height: 1.3rem;
}

nav img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -3rem;
  margin: auto;
  height: 2.5rem;
}

nav a {
  color: var(--light-text);
  padding: 1rem;
  white-space: nowrap;
}

nav a:last-child {
  padding-right: 0;
}

nav a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
  overflow: scroll;
}