#app {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

header {
  background: var(--main-blue);
  overflow: scroll;
}

main {
  flex: 1;
  overflow: scroll;
}

nav {
  display: grid;
  align-items: center;
  font-weight: lighter;
  grid-template-columns: repeat(5, min-content) 1fr repeat(2, min-content);
}

nav > a img {
  height: 3rem;
  margin: -0.5rem;
}

nav > * {
  font-size: 1.5rem;
  color: var(--light-text);
  padding: var(--large-padding);
  white-space: nowrap;
}

nav > *:hover {
  text-decoration: underline;
}