body {
  --white: white;
  --very-light-bg: rgb(247, 247, 247);
  --light-bg: rgb(226, 225, 225);
  --less-light-bg: rgb(209, 208, 208);
  --medium-bg: rgb(165, 157, 157);
  --dark-bg: rgb(112, 112, 112);

  --light-blue: rgb(104, 152, 255);
  --main-blue: rgb(26, 140, 255);
  --dark-blue: rgb(0, 3, 158);

  --light-text: white;
  --less-light-text: rgb(180, 180, 180);
  --medium-text: rgb(124, 124, 124);
  --dark-text: black;

  --error-color: rgb(197, 74, 74);
  --warning-color: rgb(255, 237, 73);

  --small-border-radius: 0.3rem;
  --medium-border-radius: 0.5rem;
  --large-border-radius: 0.8rem;

  --small-padding: 0.3rem 0.5rem;
  --medium-padding: 0.5rem 0.8rem;
  --large-padding: 0.8rem 1.2rem;

  --small-border: 1px solid var(--medium-bg);
  --medium-border: 2px solid var(--medium-bg);
  --large-border: 3px solid var(--medium-bg);

  --small-light-border: 1px solid var(--white);
  --medium-light-border: 2px solid var(--white);
  --large-light-border: 3px solid var(--white);

  background: var(--light-bg);
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

input, select, button {
  padding: var(--medium-padding);
  border-radius: var(--small-border-radius);
  border: none;
}

input, select {
  border: var(--small-border);
  background: var(--white);
  height: 2.2rem;
}

button {
  background: var(--main-blue);
  color: var(--light-text);
  font-size: 1.2rem;
  cursor: pointer;
}

button:disabled {
  background: var(--medium-bg);
}

form .form-error {
  background: var(--error-color);
  color: var(--light-text);
  border-radius: var(--small-border-radius);
  margin-top: 0.4rem;
  padding: var(--small-padding);
  display: block;
  width: min-content;
  border: 0.5px solid var(--white);
  width: fit-content;
}