body {
  --very-light-background: white;
  --light-background: rgb(246, 246, 246);
  --medium-background: rgb(165, 157, 157);
  --dark-background: rgb(112, 112, 112);
  --light-blue: rgb(104, 152, 255);
  --main-blue: #1A8CFF;
  --dark-blue: rgb(0, 3, 158);
  --light-text: white;
  --medium-text: rgb(230, 230, 230);
  --dark-text: black;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background: var(--light-background);
}

* {
  outline: none;
  text-decoration: none;
  color: inherit;
}

input {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin: 10px 10px 10px 0;
  font-size: 1rem;
  border: 1px solid gray;
}

button {
  border-radius: 5px;
  background: var(--main-blue);
  color: var(--light-text);
  border: none;
  outline: none;
  padding: 5px 10px;
}